.fgg1{
    height:auto;
    width: 200px;
    margin: 10px;
}
.l2{
    height: auto;
    width: 200px;
    margin: 10px;
}

.teste{
    text-align: center;
    display: flex;
}
.filmes1 {
    display: flex;
    align-content: space-around;
    justify-content: center;
    }
.filmes-tit{
    text-align: center;
}
.filmes2{
    display: flex;
    align-content: center;
    justify-content: center;
}
.h11{
    height: 50px;
}
.gente{
    display: flex;
    text-align: left;

}
.tit{
    text-align: center;
}
.img1{
    display: flex;
    align-content: space-around;
    justify-content: center;
}